/* Hits */

.ais-InfiniteHits-list {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: stretch; /* Align items to stretch vertically */
  align-content: stretch; /* Stretch items to fill the container height */
  list-style: none;
  padding: 0;
}

.ais-InfiniteHits-list > * {
  padding: 1rem;
}

@media (min-width: 768px) {
  .ais-InfiniteHits-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .ais-InfiniteHits-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .ais-InfiniteHits-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.ais-InfiniteHits-list li {
}

.ais-InfiniteHits {
  text-align: center;
}

.ais-InfiniteHits-item {
  text-align: left;
}

/* Search box */

.ais-SearchBox-form {
  position: relative;
}

.ais-SearchBox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(65, 66, 71, 0.06);
  border: none;
  border-radius: 3px;
  color: rgba(33, 36, 61, 0.8);
  font-family: inherit;
  min-height: 54px;
  outline: none;
  padding-left: 56px;
  width: 100%;
}

.ais-SearchBox-input::placeholder {
  color: rgba(33, 36, 61, 0.5);
  opacity: 1; /* Firefox */
}

.ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.5);
}

.ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.5);
}

.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-submit {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
}

.ais-SearchBox-reset[hidden],
.ais-SearchBox-loadingIndicator[hidden] {
  display: none;
}

.ais-SearchBox-submit {
  left: 0;
}

.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator {
  right: 0;
}

.ais-SearchBox-resetIcon {
  width: 10px;
  height: 10px;
}

/* Menus */

.ais-RefinementList-item {
  padding: 8px 16px 8px 8px;
  border-radius: 3px;
}

.ais-RefinementList-list {
  grid-gap: 0 2rem;
  grid-template-rows: repeat(5, 1fr);
}

.ais-ClearRefinements {
  padding: 1rem;
}

.ais-ClearRefinements > * {
  margin: 0;
  padding: 0 0px;
  border: 1px solid #d2d2d2;
  background: none;
  line-height: 1;
  color: #333;
  transition: all 0.3s ease;
  border-radius: 23px;
  padding: 8px;
}

.ais-ClearRefinements-button--disabled {
  display: none;
}

.ais-RefinementList-labelText {
  padding-left: 4px;
}

.ais-RefinementList-label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ais-InfiniteHits-loadMore {
}

.ais-InfiniteHits-loadMore[disabled] {
  display: none;
}
